body .five {
  background-image: url("../image/five/bg5.png"); }

body .five-social {
  margin-top: 245px;
  margin-bottom: 70px; }

body .five-social img {
  padding: 0 16px; }

body .five-newsletter {
  margin-bottom: 240px; }

body .enter-email {
  width: 250px;
  height: 50px;
  padding-right: 30px;
  border-radius: 6px;
  border: none; }

body .mail-icon {
  position: absolute;
  top: 18px;
  right: 45px; }

