body {
    .four{
            background-image: url('../image/four/bg4.png');
    }
    .four-title{
        margin-top:150px;
        margin-bottom:50px;
        text-align:center;
    }

    .four-btn{
        margin-bottom:50px;
    }
    
    .like-btn{
        padding-left:73px;
        padding-right:73px;
    }
}
