body {
    .third{
        background-image: url('../image/third/bg3.png');
    }

    .third-txt{
         margin-top:150px;
         margin-bottom:80px;
      
    }

    .third-pic{
        
        height:380px;
        overflow:hidden;
        position:relative;
        left:-365px;
        top:80px;
    }
}
